html,
body {
    height: 100%;
    /* 限制瀏覽器 縮放大小 ，配合first-child+html body*/
    min-width: 620px;
}

h2 {
    display: flex;
    /* 水平置中 */
    justify-content: center;    
    
    /* 水平置中 IE7*/
    text-align: center;
    
}

.Container {
    /* IE7 Color : this setting only for IE7*/
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#606999', endColorstr='#313966', GradientType=0);
    display: inline-block;
    *margin-top:25%;
    *margin-left:30%;
    *margin-right:30%;
    
    
    
    /* other  Browser Color*/
    width: min(760px, 100%);
    background: linear-gradient(180deg, #606999 0% , #313966 100%);
    border-radius: 12px;
    padding: 28px;
    box-shadow: 0 10px 30px rgba(2, 6, 23, 0.6);
    backdrop-filter: blur(6px);
}



body {
    /*IE7 color*/
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1C234D', endColorstr='#232752', GradientType=0);
  
    /* other  Browser Color*/
    background: linear-gradient(180deg, #1C234D 0%, #232752 100%);
    color:  #e6eef8;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    
}

/* 輸入欄位位子 */
.TBoxRow {
    display: flex;
    gap: 12px;
    align-items: center;
    margin-top: 12px;
    
    
    /* 水平置中 IE7*/
    text-align: center;

}

/* 按鈕欄位位子 */
.BtRow {
    display: flex;
    /* 水平置中 */
    justify-content: center;   
    gap: 12px;
    align-items: center;
    margin-top: 12px;
    
    /* 水平置中 IE7*/
    text-align: center;
}


/* 輸入框樣式 */
.input {
    flex: 1;
    padding: 12px 14px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.06);
    background: transparent;
    color: #e6eef8;
    font-size: 1rem;
}

/* 按鈕樣式 */
.btn {
    /*IE color*/
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0F5563', endColorstr='#313966', GradientType=0);
    display: inline-block;
    
    
    background: linear-gradient(90deg, #0F5563 , #1F6F80);
    padding: 10px 16px;
    border-radius: 10px;
    border: none;
    color: white;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 0 6px 18px rgba(124, 58, 237, 0.18);
}

.btn:hover{
  color:#CCC291;
}


/* 限制瀏覽器 縮放大小 */
*:first-child+html body {
    width: expression(document.body.clientWidth < 520 ? "520px" : "auto");
}
    
