html,body{
    width: auto;
    height:100%;
    
    /*禁止滾動條*/
    overflow: hidden;
}  
body {
    /*由左到右漸成變色*/
    display:flex;
    align-items: center;
    justify-content:center;
    text-align:center;
    background: linear-gradient(270deg,#FFCCE6,#D6B0FF);
}

h1{
    /*絕對定位 非 static 容器 會參考頁面逕行絕對定位*/
    position: absolute;
    top: 0;
    left: 0;
    margin: 20px;
    color: #F3D7FA;
}

.bk{
    /*絕對定位 非 static 容器 會參考頁面逕行絕對定位*/
    position: absolute;
    top: 5px;
    left: 5px;
    margin: 20px;
    color: rgba(129, 90, 143, 0.2);
}

.Container{
    /*Color*/
    background: linear-gradient(270deg,#ECE3F6,#D6B0FF);
    /*邊框距離*/
    padding: 20px 30px 30px 10px;
    border-radius: 12px;
}

.ContainerSub{
    /*設定欄位表格距離*/
    display: grid;
    grid-template-columns: repeat(2, 1fr); /*每列都是兩欄 , 彈性分配 一個物件一個欄位 50%距離 50%距離*/
    gap: 20px 0px; /*上下 20px 左右 0 px*/
    padding: 0 0 10px 0; /*login buttom 距離丟遠一點*/
    
}

.btn{
    border-radius: 6px;
    border: 1px solid rgba(255, 255, 255, 0.06);
    
    margin-bottom: 20px;
    
    width: 70px;
    height: 30px;
}

.input{
    border-radius: 6px;
    border: 1px solid rgba(255, 255, 255, 0.06);
    height: 20px;
}


.confirmbox{
    display: none;
    width: 300px;
    height: 150px;
    background: white;
    border-radius: 6px;
    border: 2px solid rgba(189 ,168 ,189 , 0.5);
    position: absolute;
    top: 42%;
    left: 42%;
}

.confirmbox p{
    color: Red;
    margin-top: 45px;
}

.confirmbox .btn{
    margin-top: 15px;
}

