html,body{
    width: auto;
    height:100%;
    margin: 0;
    padding: 0;
    /*禁止滾動條*/
    overflow: hidden;
}  
body {  
    background-image: url(bg.jpg);
    background-size: cover;
}

h1{
    /*絕對定位 非 static 容器 會參考頁面逕行絕對定位*/
    position: absolute;
    top: 90%;
    left: 85%;
    margin: 20px;
    color: #FFE2BA;
}

.bk{
    /*絕對定位 非 static 容器 會參考頁面逕行絕對定位*/
    position: absolute;
    top: calc(90% + 4px);
    left: calc(85% + 4px);
    margin: 20px;
    color: rgba(65, 98, 78, 0.2);
}

.listContainer{
    text-align:center;
    position: absolute;
    top: 10px;
    left: 10px;
    width: 14%;
    height: 98%;
    background: #ABD1BD;
    border-radius: 20px;
    border: 0px solid;
}

/*設定嵌入式頁面大小 iframe不會繼承class所以要用ID
繼承*/
#subPage{
    position: absolute;
    top: 10px;
    left: 15%;
    width: 90%;
    height: 98%;
    
}


.linkBtn{
    color: #41624E;
    text-decoration: none;
    font-size: 20px;
}

.linkBtn:hover{
    color: #D1F7FF;
}
    
hr{
    margin: 30px;
    color: #F0F5F2;
    border: 1px solid;
} 

h3{
    color: #2F4638;
    margin-top: 30px;
}


/*PwdPage*/

.Container{
    /*Color*/
    background: linear-gradient(180deg,#94C4E3,#FFFFFF);
    /*邊框距離*/
    padding: 20px 30px 30px 10px;
    border-radius: 12px;
    width:30%;
    position:absolute;
    top: 30%;
    left: 34%;
}

.Container h2,.ContainerBtn{
    text-align: center;
}


.ContainerSub{
    /*設定欄位表格距離*/
    display: grid;
    grid-template-columns: repeat(1, 1fr); /*每列都是兩欄 , 彈性分配 一個物件一個欄位 50%距離 50%距離*/
    gap: 20px 0px; /*上下 20px 左右 0 px*/
    padding: 0 25px 10px 80px; /*login buttom 距離丟遠一點*/
    
}

.ContainerSub .input{
    border-radius: 6px;
    border: 1px solid rgba(255, 255, 255, 0.06);
    height: 30px;
    width: 85%;
    font-size: 20px;
    text-align: center;
}

.ContainerBtn .btn{
    border-radius: 6px;
    border: 1px solid rgba(255, 255, 255, 0.06);
    margin-bottom: 20px;
    
    width: 70px;
    height: 30px;
    
}


.confirmbox{
    text-align: center;
    display: none;
    width: 300px;
    height: 150px;
    background: white;
    border-radius: 6px;
    border: 2px solid rgba(189 ,168 ,189 , 0.5);
    position: absolute;
    top: 42%;
    left: 42%;
}

.confirmbox p{
    color: Red;
    margin-top: 45px;
}

.confirmbox .btn{
    margin-top: 15px;
}



/*Logout image*/
.listContainer .lgBtn{
    position: absolute;
    top:  92%;
    left: 70%;
    background-image: url(logout.png);
    background-size: contain;
    background-repeat: no-repeat;
    border: none; /* 移除邊框 */
    width: 60px;
    height: 60px;
    
    
}

.listContainer .lgBtn:hover{
    background-image: url(logout2.png);

}













